/* Tecnologia Web- Plantilla CSS del portal de asignación */
/* Puede usar #HEX o nombres de colores */
/* * es un comodín que se refiere a todos los elementos. */

/* { margin: 0; box-sizing: border-box; } */

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family:Ubuntu,sans-serif;
    color:black;
}

h1 {
    font-size: 2rem;
    color:white;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 2px solid white;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 600px;
}

header, footer, footer a {
    text-align: center;
    background-color:darkolivegreen;
    color: white;
    background-image:url(/imagenes/584518.jpg);
    background-size: cover;
}

header img {
    width: 110px;
    height: 150px;
    float: right;
    margin: 8px 0 0 0;
}

footer {
    font-size: 0.75rem;
}

