*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Odibee Sans', cursive;
    font-size: 25px;
}
.menu
{
   width: 100%;
   background: blue;
}

.menu ul
{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
footer
{
    text-align: center;
    color:white;
    background-color: blue;
    background-image: url(/imagenes/pngguru.com.png);
    background-size: cover;
}